
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list-container{
      min-width: 320px;
      max-width: 340px;
      margin: 0 auto;
      padding: 2px;
    }
.todo-list-container .header-section{
      height: 100px;
      padding: 10px;
      color: black;
      background: url('https://placeimg.com/320/100/nature') no-repeat center;
    }
.todo-list-container .header-section h1{
      margin-top: 25px;
      margin-bottom: 0;
      font-family: 'Pacifico','Lobster','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        font-size: 2.2rem;
        line-height: 1.1;
        text-align: center;
    }
.todo-list-container .content-section{
      margin: 10px 0;
    }
.todo-list-container .todo-list-input{
      box-sizing: border-box;
      margin: 0;
      display: inline-block;
      padding: 4px 11px;
      width: 100%;
      outline: 0;
      height: 32px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.65);
      border: 1px solid #d9d9d9;
      border-radius: 4px;
    }
.todo-list-container .todo-list-input::placeholder{
      font-style: italic;
      color: #ccc;
      font-size: 20px;
    }
.todo-list-container .todo-list-input{
      font-style: italic;
      color: black;
      font-size: 20px;
    }

.todo-list-item{
      position: relative;
      margin: 0 .5rem;
      font-style: italic;
      font-size: 20px;
      overflow-x: scroll;
      width: -webkit-fill-available;
     
    }
.todo-items{
   border-bottom: 1px dotted #ededed;
   margin: 0 50px 0 25px;

}
.todo-list-complete:before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: white;
}

.todo-list-important:before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid darkblue;
  border-radius: 5px;
  background-color: white;
}

.todo-list-delete:before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid darkred;
  border-radius: 5px;
  background-color: white;  
}

body{
        background: #FFFFE0;
    }
ul, ol{
      list-style-type: none;
      margin: 15px 0;
    }
hr{
      background: rgba(22, 22, 22, 0.1);
    }
hr, form{
      margin-bottom: 0.5rem;
    }

    /* CLASSES */
.text-center{
      text-align: center;
    }
.text-italic{
      font-style: italic;
    }
.white-text{
      color: #fff;
    }
.clickable{
      cursor: pointer;
    }
.card{
      border: 1px solid rgba(22,22,22,0.2);
      box-shadow: 0 2px 3px 1px rgba(156, 156, 156, 0.3);
      background-color: white;
    }

    /* MAIN */
.todo-list-container{
      margin-top: 130px;
      margin-bottom: 130px;
      position: relative;
    }

